# Importación de librerias y modulos

In [12]:
import pandas as pd
import numpy as np

# Practica 01: Creación de series vacias

## Crea 5 series vacias

In [3]:
vacia_2 = pd.Series()
print(vacia_2)

Series([], dtype: object)

In [4]:
vacia_3 = pd.Series()
print(vacia_3)

Series([], dtype: object)

In [5]:
vacia_4 = pd.Series()
vacia_4

Series([], dtype: object)

In [6]:
vacia_5 = pd.Series()
vacia_5

Series([], dtype: object)

# Practica 02: Creación de series a pratir de listas

Crea 3 series de pandas

## SERIE NÚMEROS

Crea una serie de pandas en la que se muestres 10 números

In [9]:
numeros = [1,2,3,4,5,6,7,8,9,10]
serie_numero = pd.Series(numeros)
serie_numero

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## SERIE CIUDADES

Crea una serie de pandas que contenga el nombre de cinco ciudades de México

In [10]:
ciudades_mex = ["CDMX",'Veracruz','Villahermosa','Merida','Guadalajara']
serie_ciudades_mex = pd.Series(ciudades_mex)
serie_ciudades_mex

0            CDMX
1        Veracruz
2    Villahermosa
3          Merida
4     Guadalajara
dtype: object

## SERIE ANIMALES QUE SON MASCOTAS

Crea una serie que contenga 4 especies de animales que sean considerados mascotas

In [11]:
mascotas = ["Perro","Hamster","Gato","Canario"]
serie_mascotas = pd.Series(mascotas)
serie_mascotas

0      Perro
1    Hamster
2       Gato
3    Canario
dtype: object

# Practica 03: Creación de Pandas Series a partir de Numpy Arrays

Crea 3 series de Pandas a partir de Numpys Arrays

## SERIE PERSONAJES DE ANIME

Crea una serie que contenga 6 personajes de anime

In [14]:
np_personaje = np.array(['Luffy','Seiya','Goku','Eren','Ikki','Vegeta'])
serie_np_personaje = pd.Series(np_personaje)
serie_np_personaje

0     Luffy
1     Seiya
2      Goku
3      Eren
4      Ikki
5    Vegeta
dtype: object

## SERIE LIBROS

Crea una serie que contenga 5 titulos libros de cualquier tema

In [15]:
np_libros = np.array(['Hyperfocus','Fueras de Serie','El cisne negro','Originales','El dominio mundial'])
serie_np_libros = pd.Series(np_libros)
serie_np_libros

0            Hyperfocus
1       Fueras de Serie
2        El cisne negro
3            Originales
4    El dominio mundial
dtype: object

## SERIE SISTEMA SOLAR

Crea una serie que contenga el nombre de 5 cuerpos celestes del sistema solar

In [16]:
np_sistema_solar = ['Tierra','Marte','Urano','Jupiter','Saturno']
serie_np_sistema_solar = pd.Series(np_sistema_solar)
serie_np_sistema_solar

0     Tierra
1      Marte
2      Urano
3    Jupiter
4    Saturno
dtype: object

# Practica 04: Creación de Pandas Series a partir de diccionarios

Crea 3 Pandas series a partir de diciconarios

## SERIE CIUDADES

Crea una serie que contenga los nombres de 5 ciudades y su pobleción (puede ser falsa)

In [17]:
pob_ciudades = {"Ciudad":['Villahermosa',"Merida","Campeche"],"Poblacion":[250000,320000,220000]}
serie_pob_ciudades = pd.Series(pob_ciudades)
serie_pob_ciudades

Ciudad       [Villahermosa, Merida, Campeche]
Poblacion            [250000, 320000, 220000]
dtype: object

## SERIE PLANTAS

Crea una serie que contenga 6 tipos de plantas y a una categoría que las describa

In [18]:
plantas = {'Planta':['Tomate','Aguacate','Zanahoria','Uva','Cebolla','Cedro'],'Tipo':['Frutal','Frutal','Hortaliza','Frutal','Hortaliza','Maderable']}
serie_plantas = pd.Series(plantas)
serie_plantas

Planta    [Tomate, Aguacate, Zanahoria, Uva, Cebolla, Ce...
Tipo      [Frutal, Frutal, Hortaliza, Frutal, Hortaliza,...
dtype: object

## SERIE NOMBRES

Crea una serie que contenga 5 nombres de personas y si es nombre masculino, femenino o unisex

In [19]:
nombres = {'Nombre':['Andres','María','Alondra','Guadalupe','José'],'Tipo':['masculino','femenino','femenino','unisex','masculino']}
serie_nombres = pd.Series(nombres)
serie_nombres

Nombre            [Andres, María, Alondra, Guadalupe, José]
Tipo      [masculino, femenino, femenino, unisex, mascul...
dtype: object