# Importación de librerías y módulos

In [10]:
import pandas as pd
import numpy as np

# Practica 01: Acceder a un elemento especifico por indice

Crea 3 series de pandas y accede a uno de sus elementos

## Serie números

Crea una pandas series con numero y accede al elemento que se encuntre en la posición 3

In [15]:
numeros = [1,2,3,4,5,6,7,8,9,10]
serie_numeros = pd.Series(numeros)
serie_numeros

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
numero = serie_numeros[3]
numero

4

## SERIE CIUDADES

Crea una serie de pandas que contenga el nombre de seis ciudades de Estados Unidos e imprime la ciudad que este en la posición 4

In [21]:
ciudades = ['San Francisco','Los Angeles','Miami','Houston','Nueva York','Washinton']
serie_ciudades = pd.Series(ciudades)
serie_ciudades

0    San Francisco
1      Los Angeles
2            Miami
3          Houston
4       Nueva York
5        Washinton
dtype: object

In [22]:
ciudad = serie_ciudades[4]
ciudad

'Nueva York'

## SERIE ANIMALES QUE SON SALVAJES

Crea una serie que contenga 4 especies de animales que sean considerados salvaje e imprime el animal que este en la posición 2

In [23]:
animales_salvajes = ['Cocodrilo','Oso','Lobo','León']
serie_animales_salvajes = pd.Series(animales_salvajes)
serie_animales_salvajes

0    Cocodrilo
1          Oso
2         Lobo
3         León
dtype: object

In [24]:
animal_salvaje = serie_animales_salvajes[2]
animal_salvaje

'Lobo'