# Importación de librerías y módulos

In [1]:
import pandas as pd
import numpy as np

# Practica 01: Acceder a un elemento especifico por indice

Crea 3 series de pandas y accede a uno de sus elementos

## Serie números

Crea una pandas series con numero y accede al elemento que se encuntre en la posición 3

In [15]:
numeros = [1,2,3,4,5,6,7,8,9,10]
serie_numeros = pd.Series(numeros)
serie_numeros

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
numero = serie_numeros[3]
numero

4

## SERIE CIUDADES

Crea una serie de pandas que contenga el nombre de seis ciudades de Estados Unidos e imprime la ciudad que este en la posición 4

In [21]:
ciudades = ['San Francisco','Los Angeles','Miami','Houston','Nueva York','Washinton']
serie_ciudades = pd.Series(ciudades)
serie_ciudades

0    San Francisco
1      Los Angeles
2            Miami
3          Houston
4       Nueva York
5        Washinton
dtype: object

In [22]:
ciudad = serie_ciudades[4]
ciudad

'Nueva York'

## SERIE ANIMALES QUE SON SALVAJES

Crea una serie que contenga 4 especies de animales que sean considerados salvaje e imprime el animal que este en la posición 2

In [23]:
animales_salvajes = ['Cocodrilo','Oso','Lobo','León']
serie_animales_salvajes = pd.Series(animales_salvajes)
serie_animales_salvajes

0    Cocodrilo
1          Oso
2         Lobo
3         León
dtype: object

In [24]:
animal_salvaje = serie_animales_salvajes[2]
animal_salvaje

'Lobo'

# Practica 02:obtén un subconjunto de la serie

Crea 3 series de pandas y accede a una sección de sus datos

## SERIE PAISES

Crea una serie de pandas que contenga el nombre de diez paises del mundo e imprime los paises que esten entre la posición 3 y 6

In [4]:
paises = ["México","Dubai", "China","Portugal", "Nigeria","Australia","Francia","Rusia","Canada","Brazil"]
serie_paises = pd.Series(paises)
print(serie_paises)
seccion_serie = serie_paises[3:6]
print(seccion_serie)

0       México
1        Dubai
2        China
3     Portugal
4      Nigeria
5    Australia
6      Francia
7        Rusia
8       Canada
9       Brazil
dtype: object
3     Portugal
4      Nigeria
5    Australia
dtype: object

## SERIE RÍOS

Crea una serie con datos de 6 ríos e imprime los datos que esten entre la posición 0 y 5

In [6]:
rios = ['Grijalva','Usuamcinta','Bravo','Missisipi','Nilo','Amazonas']
serie_rios = pd.Series(rios)
print(serie_rios)
seccion_rios = serie_rios[0:5]
print(seccion_rios)

0      Grijalva
1    Usuamcinta
2         Bravo
3     Missisipi
4          Nilo
5      Amazonas
dtype: object
0      Grijalva
1    Usuamcinta
2         Bravo
3     Missisipi
4          Nilo
dtype: object

## SERIE REYES

Crea una serie que contenga 10 nombres de reyes famosos e imprime los elementos que están entre la posición 3 y 7

In [9]:
reyes = ['Arturo','Leonidas','Carlos V','Felipe VII','Luis XVI','Luis XIV','Enrique VIII','Shaka','Alfonso de Aragón','Raknar Lokbrok']
serie_reyes = pd.Series(reyes)
print(serie_reyes)
seccion_reyes = serie_reyes[3:7]
print(seccion_reyes)

0               Arturo
1             Leonidas
2             Carlos V
3           Felipe VII
4             Luis XVI
5             Luis XIV
6         Enrique VIII
7                Shaka
8    Alfonso de Aragón
9       Raknar Lokbrok
dtype: object
3      Felipe VII
4        Luis XVI
5        Luis XIV
6    Enrique VIII
dtype: object

# Practica 03: Selección de elementos por valor especifico

Crea tres  series y desués busca en en cada una de ellas un valor especifico

## SERIE MARCAS DE AUTOS

Crea una serie que contenga 5 marcas de carros

In [11]:
autos = ['Volks Vaguen','GMC','Ford','Chevrolet','VMW','Mercedez Benz']
serie_autos = pd.Series(autos)
print(serie_autos)
valor_auto = serie_autos[serie_autos=='VMW']
print(valor_auto)

0     Volks Vaguen
1              GMC
2             Ford
3        Chevrolet
4              VMW
5    Mercedez Benz
dtype: object
4    VMW
dtype: object

## SERIE NOMBRES

Crea una serie que contenga 6 nombres de personas y luego busca uno de los nombres en la serie

In [14]:
nombres = ['Sara','Luisa','Ana', 'Pamela','Silvia','Teresa']
serie_nombres = pd.Series(nombres)
print(serie_nombres)
valor_nombre = serie_nombres[serie_nombres=='Silvia']
print(valor_nombre)

0      Sara
1     Luisa
2       Ana
3    Pamela
4    Silvia
5    Teresa
dtype: object
4    Silvia
dtype: object

## SERIE ISLAS

Crea una serie con 4 nombres de islas, luego selecciona una e imprimela

In [15]:
islas = ['Nueva Zelanda','Islandia','Cozumel','Sicilia']
serie_islas = pd.Series(islas)
print(serie_islas)
valor_isla = serie_islas[serie_islas=='Cozumel']
print(valor_isla)

0    Nueva Zelanda
1         Islandia
2          Cozumel
3          Sicilia
dtype: object
2    Cozumel
dtype: object

# Practica 04: Obtener información descripitva de la serie

Crea tres series e imprime la información descriptiva de cada una de ellas

## SERIE NÚMEROS

Crea una serie que contenga una secuencia de números con incrementos de 10 que partan desde 0 y llegue a 200

In [2]:
secuencia = [0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200]
serie_secuencia = pd.Series(secuencia)
print(serie_secuencia)
print("")
info_secuencia = serie_secuencia.describe()
print(info_secuencia)

0       0
1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
11    110
12    120
13    130
14    140
15    150
16    160
17    170
18    180
19    190
20    200
dtype: int64

count     21.000000
mean     100.000000
std       62.048368
min        0.000000
25%       50.000000
50%      100.000000
75%      150.000000
max      200.000000
dtype: float64