# MANIPULACIÓN DE DATOS EN SERIES DE PANDAS

# Importación de librerias y  modulos

In [1]:
import pandas as pd
import numpy as np

# Series a usar

In [2]:
numeros = [1,2,3,4,5,6,7,8,9,10,20,30,40,50,60]
ciudades_mexico = ['Monterrey','Villahemrosa','Culiacan','Puebla','Merida','Guadalajara','Veracruz','Tuxtla','Campeche']
paises = ['Alemania','Portugal','Panama','El Salvador','Canada','Japón','China','Filipinas','Rusia','Nigeria','Sudafrica']
astros = ['Sol','Jupiter','Urano','Tierra','Marte','Plutón','Gamenides','Europa','Luna']
animales_mascotas = ['Gato','Perico','Perro','Hamster','Conejo']

serie_numeros = pd.Series(numeros)
serie_ciudades_mexico = pd.Series(ciudades_mexico)
serie_paises = pd.Series(paises)
serie_astros = pd.Series(astros)
serie_animales_mascota = pd.Series(animales_mascotas)

# Practica 01: Cambiar valores en una serie

## SERIE NUMEROS

Utilizando la serie numeros:

1.- imprime la serie para ver los valores que contiene
2.- Identifica el valor que se encuentra en la posición 4
3.- Sustituye el valor de la posición 4 por el resultado de 3 + 5 almacenado en la variable suma
4.- Imprime de nuevo la serie para validar que se realizara la sustitución

In [7]:
print(serie_numeros)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    20
11    30
12    40
13    50
14    60
dtype: int64

In [8]:
suma = 3 + 5
suma

8

In [10]:
serie_numeros[4] = suma
serie_numeros

0      1
1      2
2      3
3      4
4      8
5      6
6      7
7      8
8      9
9     10
10    20
11    30
12    40
13    50
14    60
dtype: int64

## SERIE CIUDADES MEXICO

Utilizando la serie ciudades México:

1.- imprime la serie para ver los valores que contiene
2.- Identifica el valor que se encuentra en la posición 8
3.- Sustituye el valor de la posición 4 por el nombre de una ciudad no contenido en la serie
4.- Imprime de nuevo la serie para validar que se realizara la sustitución

In [19]:
print(serie_ciudades_mexico)

0       Monterrey
1    Villahemrosa
2        Culiacan
3          Puebla
4          Merida
5     Guadalajara
6        Veracruz
7          Tuxtla
8        Campeche
dtype: object

In [20]:
serie_ciudades_mexico[8] = "La Paz"
serie_ciudades_mexico

0       Monterrey
1    Villahemrosa
2        Culiacan
3          Puebla
4          Merida
5     Guadalajara
6        Veracruz
7          Tuxtla
8          La Paz
dtype: object

## SERIE PAISES

Utilizando la serie paises:

1.- imprime la serie para ver los valores que contiene
2.- Identifica el valor que se encuentra en la posición 3
3.- Sustituye el valor de la posición 3 por el nombre de un país de medio oriente
4.- Imprime de nuevo la serie para validar que se realizara la sustitución

In [21]:
serie_paises

0        Alemania
1        Portugal
2          Panama
3     El Salvador
4          Canada
5           Japón
6           China
7       Filipinas
8           Rusia
9         Nigeria
10      Sudafrica
dtype: object

In [22]:
serie_paises[3]

'El Salvador'

In [23]:
serie_paises[3] = "Israel"
serie_paises

0      Alemania
1      Portugal
2        Panama
3        Israel
4        Canada
5         Japón
6         China
7     Filipinas
8         Rusia
9       Nigeria
10    Sudafrica
dtype: object

## SERIE ASTROS

Utilizando la serie astros:

1.- imprime la serie para ver los valores que contiene
2.- Identifica el primer vaor de la serie
3.- Sustituye el valor de la posición 0 por el nombre de una galaxia
4.- Imprime de nuevo la serie para validar que se realizó la sustitución

In [24]:
serie_astros

0          Sol
1      Jupiter
2        Urano
3       Tierra
4        Marte
5       Plutón
6    Gamenides
7       Europa
8         Luna
dtype: object

In [25]:
serie_astros[0]

'Sol'

In [26]:
serie_astros[0] = "Alpha centauri"
serie_astros

0    Alpha centauri
1           Jupiter
2             Urano
3            Tierra
4             Marte
5            Plutón
6         Gamenides
7            Europa
8              Luna
dtype: object

## SERIE ANIMALES MASCOTAS

Utilizando la serie animales mascotas:

1.- imprime la serie para ver los valores que contiene
2.- Identifica el valor que se encuentra en la posición 2
3.- Sustituye el valor de la posición 2 por el nombre de un animal mascota no contenido en la serie
4.- Imprime de nuevo la serie para validar que se realizara la sustitución

In [27]:
serie_animales_mascota

0       Gato
1     Perico
2      Perro
3    Hamster
4     Conejo
dtype: object

In [28]:
serie_animales_mascota[2]

'Perro'

In [29]:
serie_animales_mascota[2] = "Canario"
serie_animales_mascota

0       Gato
1     Perico
2    Canario
3    Hamster
4     Conejo
dtype: object

# Practica 02: Agregar nuevos elementos

## SERIE NUMEROS

Usa la serie numeros para agregar de forma directa un nuevo valor a la serie

In [3]:
serie_numeros

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    20
11    30
12    40
13    50
14    60
dtype: int64

In [4]:
serie_numeros[15] = 200
serie_numeros

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     20
11     30
12     40
13     50
14     60
15    200
dtype: int64

## SERIE CIUDADES MEXICO

## SERIE PAISES

## SERIE ASTROS

## SERIE ANIMALES MASCOTAS

# Practica 03: Eliminar elemntos

## SERIE NUMEROS

## SERIE CIUDADES MEXICO

## SERIE PAISES

## SERIE ASTROS

## SERIE ANIMALES MASCOTA

# Practica 04: Renombrar indices

## SERIE NUMEROS

## SERIE CIUDADES MEXICO

## SERIE PAISES

## SERIE ASTROS

## SERIE ANIMALES MASCOTA

# Practica 05: Reordenar la serie

## SERIE NUMEROS

## SERIE CIUDADES MEXICO

## SERIE PAISES

## SERIE ASTROS

## SERIE ANIMALES MASCOTA